body{
    background-color: white;
}
nav{
    position: fixed; 
    left:0;
    top:0;
    background-color: #000a96;
    width: 100%;
    height: 10%;
    min-height: 2.5em;
    z-index: 1;
    padding-top: 0.7vw;
    position: fixed;
}
#relleno{
    width: 100%;
    height: 12%;
    min-height: 3em;
}
.navegador{
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.8vw;
    height: 100%;
    width: 15%;
    float:left;
    vertical-align: middle;
}
.logo{
    height: 90%;
}
#logo{
    width: fit-content;
    margin-left: 45%;  
}
.detail{
    width:92%;
    margin: 0 4%;
    height: fit-content;
}
.beyname{
    width: 100%;
    text-align: center;
    margin: 3% 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    color: #000b56;
    font-size: 2.5vw;
}
.altbeyname{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}
.data{
    margin: 5% 0;
}
.balance{
    background-color: #bf0008
}
.attack{
    background-color: #369db5
}
.stamina{
    background-color: #ffb442;
}
.defense{
    background-color: #009445;
}

.beyimg{
    width: 30%;
    margin: 2%;
    float: left;
}

.btn{
    border-radius: 2vw;
    border: 1px black solid;
    padding: 1% 5%;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    margin: 0 5%;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    font-size: 1.5vw;
    float: left;
    font-family: 'Courier New', Courier, monospace;
}
.back{
    clear: both;
}
.delete{
    background-color: red;
    font-size: 1.5vw;
    border: 2px black solid;
    width: 20%;;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
    opacity: 85%;
}
.botones{
    width: 90%;
    margin-left: 10%;
}


