body{
    background-color: white;
}
nav{
    position: fixed; 
    left:0;
    top:0;
    background-color: #000a96;
    width: 100%;
    height: 10%;
    min-height: 2.5em;
    z-index: 1;
    padding-top: 0.7vw;
    position: fixed;
}
#relleno{
    width: 100%;
    height: 12%;
    min-height: 3em;
}
.navegador{
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.8vw;
    height: 100%;
    width: 15%;
    float:left;
    vertical-align: middle;
}
.logo{
    height: 90%;
}
#logo{
    width: fit-content;
    margin-left: 45%;  
}
.titulo{
    width: 100%;
    text-align: center;
    margin: 3% 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    color: #000b56;
    font-size: 2.5vw;
}
#beys{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: 1% 2%;
    height: 100%;
}
.balance{
    background-color: #bf0008
}
.attack{
    background-color: #369db5
}
.stamina{
    background-color: #ffb442;
}
.defense{
    background-color: #009445;
}
.add{
    font-size: 4vw;
    text-align: center;
    height: 10%;
    padding: 45% 0;
}
.bey{
    width: 17%;
    height: fit-content;
    min-height: 24vw;
    margin: 2% 1%;
    align-items: center;
    border-radius: 2vw;
    padding-bottom: 1%;
    background-color: white;
    border: 1px black solid;
}
.bey.new{
    background-color: lightgrey;
}
.bey.new:hover{
    cursor: pointer;
    opacity: 85%;
}
.bey.balance:hover{
    cursor: pointer;
    box-shadow: 0 0 1vw 0.3vw rgba(189, 0, 9, 0.60);
}
.bey.attack:hover{
    cursor: pointer;
    box-shadow: 0 0 1vw 0.3vw rgba(54, 157, 181, 0.60);
}
.bey.stamina:hover{
    cursor: pointer;
    box-shadow: 0 0 1vw 0.3vw rgba(255, 168, 66, 0.60);
}
.bey.defense:hover{
    cursor: pointer;
    box-shadow: 0 0 1vw 0.3vw rgba(0, 148, 69, 0.60);
}
.beyimg{
    width: 100%;
}
.beyname{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    text-align: center;
}
.btn{
    border-radius: 2vw;
    border: 1px black solid;
    padding: 2% 5%;
    font-weight: bold;
    width: 90%;
    margin: 5% 5% 0 5%;
}
.btn:hover{
    cursor: pointer;
    opacity: 85%;
}


